[submodule "powerline"]
	path = powerline
	url = git://github.com/Lokaltog/powerline.git
	ignore = untracked
[submodule "mutt/mutt-colors-solarized"]
	path = mutt/themes/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
	ignore = untracked
[submodule "zsh.d/syntax-highlighting-filetypes"]
	path = zsh.d/syntax-highlighting-filetypes
	url = https://github.com/trapd00r/zsh-syntax-highlighting-filetypes.git
[submodule "git-util"]
	path = git-util
	url = git@github.com:jamesnvc/git-util.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
