[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
	ignore = untracked
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "vim/bundle/vim-abolish"]
	path = vim/bundle/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
	ignore = untracked
[submodule "vim/bundle/vim-cucumber"]
	path = vim/bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
	ignore = untracked
[submodule "vim/bundle/vim-endwise"]
	path = vim/bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
	ignore = untracked
[submodule "vim/bundle/vim-haml"]
	path = vim/bundle/vim-haml
	url = git://github.com/tpope/vim-haml.git
	ignore = untracked
[submodule "vim/bundle/vim-rails"]
	path = vim/bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
	ignore = untracked
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
	ignore = untracked
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
	ignore = untracked
[submodule "vim/bundle/vim-unimpaired"]
	path = vim/bundle/vim-unimpaired
	url = git://github.com/tpope/vim-unimpaired.git
	ignore = untracked
[submodule "vim/bundle/vim-vividchalk"]
	path = vim/bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
	ignore = untracked
[submodule "vim/bundle/vim-ack"]
	path = vim/bundle/vim-ack
	url = http://github.com/mileszs/ack.vim.git
	ignore = untracked
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = http://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "vim/bundle/html5"]
	path = vim/bundle/html5
	url = git://github.com/othree/html5.vim.git
	ignore = untracked
[submodule "vim/bundle/vimOrganizer"]
	path = vim/bundle/vimOrganizer
	url = https://github.com/hsitz/VimOrganizer.git
	ignore = untracked
[submodule "vim/bundle/tabular"]
	path = vim/bundle/tabular
	url = https://github.com/godlygeek/tabular.git
	ignore = untracked
[submodule "vim/bundle/vim-indent-guides"]
	path = vim/bundle/vim-indent-guides
	url = https://github.com/nathanaelkane/vim-indent-guides.git
	ignore = untracked
[submodule "vim/bundle/vim-markdown-preview"]
	path = vim/bundle/vim-markdown-preview
	url = https://github.com/robgleeson/vim-markdown-preview.git
	ignore = untracked
[submodule "vim/bundle/vim-speeddating"]
	path = vim/bundle/vim-speeddating
	url = https://github.com/tpope/vim-speeddating.git
	ignore = untracked
[submodule "vim/bundle/vim-markdown"]
	path = vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
	ignore = untracked
[submodule "vim/bundle/rvm_ruby.vim"]
	path = vim/bundle/rvm_ruby.vim
	url = https://github.com/jcf/rvm_ruby.vim.git
	ignore = untracked
[submodule "vim/bundle/gundo.vim"]
	path = vim/bundle/gundo.vim
	url = http://github.com/sjl/gundo.vim.git
	ignore = untracked
[submodule "vim/bundle/clang_complete"]
	path = vim/bundle/clang_complete
	url = https://github.com/Rip-Rip/clang_complete.git
	ignore = untracked
[submodule "vim/bundle/vim-coffee-script"]
	path = vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
	ignore = untracked
[submodule "vim/bundle/mustache.vim"]
	path = vim/bundle/mustache.vim
	url = https://github.com/juvenn/mustache.vim.git
	ignore = untracked
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = untracked
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
	ignore = untracked
[submodule "vim/bundle/current-func-info.vim"]
	path = vim/bundle/current-func-info.vim
	url = https://github.com/tyru/current-func-info.vim.git
	ignore = untracked
[submodule "vim/bundle/lusty"]
	path = vim/bundle/lusty
	url = https://github.com/sjbach/lusty.git
	ignore = untracked
[submodule "mutt/mutt-colors-solarized"]
	path = mutt/mutt-colors-solarized
	url = https://github.com/altercation/mutt-colors-solarized.git
	ignore = untracked
[submodule "vim/bundle/cocoa.vim"]
	path = vim/bundle/cocoa.vim
	url = https://github.com/msanders/cocoa.vim.git
	ignore = untracked
[submodule "vim/bundle/gitv"]
	path = vim/bundle/gitv
	url = https://github.com/gregsexton/gitv.git
	ignore = untracked
[submodule "vim/bundle/vim-arpeggio"]
	path = vim/bundle/vim-arpeggio
	url = https://github.com/kana/vim-arpeggio
  ignore = untracked
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = https://github.com/majutsushi/tagbar.git
[submodule "vim/bundle/Better-CSS-Syntax-for-Vim"]
	path = vim/bundle/Better-CSS-Syntax-for-Vim
	url = https://github.com/vim-scripts/Better-CSS-Syntax-for-Vim.git
[submodule "vim/bundle/vim-google-scribe"]
	path = vim/bundle/vim-google-scribe
	url = https://github.com/dubenstein/vim-google-scribe.git
[submodule "vim/bundle/vim-textobj-rubyblock"]
	path = vim/bundle/vim-textobj-rubyblock
	url = https://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "zsh.d/syntax-highlighting-filetypes"]
	path = zsh.d/syntax-highlighting-filetypes
	url = https://github.com/trapd00r/zsh-syntax-highlighting-filetypes.git
[submodule "vim/bundle/vim-javascript"]
	path = vim/bundle/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "vim/bundle/vim-afterimage"]
	path = vim/bundle/vim-afterimage
	url = https://github.com/tpope/vim-afterimage.git
[submodule "vim/bundle/vim-rvm"]
	path = vim/bundle/vim-rvm
	url = https://github.com/tpope/vim-rvm.git
[submodule "vim/bundle/vim-pyflakes"]
	path = vim/bundle/vim-pyflakes
	url = git@github.com:jamesnvc/vim-pyflakes.git
[submodule "vim/bundle/pep8"]
	path = vim/bundle/pep8
	url = git@github.com:jamesnvc/pep8.git
[submodule "vim/bundle/vim-powerline"]
	path = vim/bundle/vim-powerline
	url = git@github.com:jamesnvc/vim-powerline.git
[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "vim/bundle/ultisnips"]
	path = vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "vim/bundle/vimwiki"]
	path = vim/bundle/vimwiki
	url = https://github.com/vim-scripts/vimwiki.git
[submodule "vim/bundle/vim-indent-object"]
	path = vim/bundle/vim-indent-object
	url = https://github.com/michaeljsmith/vim-indent-object.git
[submodule "git-util"]
	path = git-util
	url = git@github.com:jamesnvc/git-util.git
[submodule "vim/bundle/potion"]
	path = vim/bundle/potion
	url = git@github.com:jamesnvc/potion.git
[submodule "vim/bundle/badwolf"]
	path = vim/bundle/badwolf
	url = git://github.com/sjl/badwolf.git
[submodule "vim/bundle/threesome.vim"]
	path = vim/bundle/threesome.vim
	url = https://github.com/sjl/threesome.vim.git
[submodule "vim/bundle/tslime.vim"]
	path = vim/bundle/tslime.vim
	url = git://github.com/sjl/tslime.vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/Muon"]
	path = vim/bundle/Muon
	url = git://github.com/gregsexton/Muon.git
[submodule "vim/bundle/vim-hybrid"]
	path = vim/bundle/vim-hybrid
	url = git://github.com/w0ng/vim-hybrid.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = git://github.com/klen/python-mode.git
[submodule "vim/bundle/vim-less"]
	path = vim/bundle/vim-less
	url = git://github.com/groenewege/vim-less.git
[submodule "vim/bundle/switch.vim"]
	path = vim/bundle/switch.vim
	url = git://github.com/AndrewRadev/switch.vim.git
[submodule "vim/bundle/jedi-vim"]
	path = vim/bundle/jedi-vim
	url = git://github.com/davidhalter/jedi-vim.git
[submodule "vim/bundle/vim-penyocomic"]
	path = vim/bundle/vim-penyocomic
	url = git@github.com:jamesnvc/vim-penyocomic.git
[submodule "vim/bundle/vim-foreplay"]
	path = vim/bundle/vim-foreplay
	url = git://github.com/tpope/vim-foreplay.git
[submodule "vim/bundle/vim-twig"]
	path = vim/bundle/vim-twig
	url = git://github.com/beyondwords/vim-twig.git
