.hg/
vim/NERDTreeBookmarks
vim/plugged
vim/.netrwhist
.dropbox
Icon*
tags
id_rsa*
mutt/cache/*
*.pyc
.ropeproject/
mutt/temp
tmux/resurrect/
.DS_Store
tmux/plugins/
vim/.init.vim-rplugin~
i3/saved-layout.json
emacs.d/elpa
*.el~
emacs.d/eshell
!emacs.d/eshell/alias
emacs.d/auto-save-list/
emacs.d/bak/
emacs.d/projectile-bookmarks.eld
emacs.d/undo
emacs.d/bookmarks
emacs.d/url
emacs.d/history
emacs.d/projectile.cache
emacs.d/recentf
emacs.d/tramp
emacs.d/.org-id-locations
emacs.d/straight/*
!emacs.d/straight/versions
emacs.d/straight/repos
emacs.d/straight/build-cache.el
fish/fish_history
fish/fishd.*
emacs.d/image-dired/
emacs.d/%backup%~
emacs.d/forge-database.sqlite
