<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.occasionallycogent.goimapnotify</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/james/go/bin/goimapnotify</string>
      <string>-conf</string>
      <string>/Users/james/dotfiles/imapnotify.conf</string>
    </array>
    <key>KeepAlive</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
      <key>LC_ALL</key>
      <string>en_US.UTF-8</string>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/james/var/log/goimapnotify.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/james/var/log/goimapnotify.err.log</string>
  </dict>
</plist>
