[Unit]
Description=Mailbox synchronization service
JobRunningTimeoutSec=600

[Service]
Type=oneshot
ExecStartPre=-/home/james/dotfiles/notmuch_archive.sh
ExecStart=/usr/bin/mbsync -Va
ExecStartPost=/usr/bin/notmuch new
